@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

tbody td {
  text-align: left;
}

td {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

h2 {
  color: gray;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: left;
}

.table-content {
  border-radius: 1rem;
  -moz-box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.26);
  box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.26);
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.table-title-container {
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.table-title-container tr {
  vertical-align: baseline;
}

.table-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: left;
  width: 9rem;
}